# --- Web Server ---
flask
flask-cors
gunicorn
streamlit==1.32.0

# --- AI Core (CPU Only for Render) ---
--extra-index-url https://download.pytorch.org/whl/cpu
torch
torchvision
segmentation-models-pytorch

# --- Image Processing ---
opencv-python-headless
Pillow
numpy